# Godot 4+ specific ignores
.godot/
/android/
*.apk
/.lf2_captures/
/.lf3_captures/
/.lf3_debug/
/.lf3_motion/
/.lf3_level_e/
/.lf3_level_e_boxes/
/.lf3_level_e_shadow_smoothness/
/.lf3_leak/
/.area_light_ab/
/.streaming_ab/
/.blind_zone_gameplay_lab/
/.echo_loop_gameplay_lab/
/.echo_loop_traversal_bot/
/.echo_loop_shadow_clearance_ab/
/.hole_e_traversal_bot/
/.hole_e_visual_bot/
/.level_e_light_zone_boundaries/
/.lf3_level_e_shadow_stability/
/.lf3_level_e_shadow_stability_maze/
/.lf3_story_recycle/
/.light_leak_corner_sweep/
/.light_leak_distance_ab/
/.light_leak_spot_motion/
/.perimeter_teeth_light_ab/
/.infinite_pit_bot/
/.directed_gateway_probe/
/.infinite_pit_bidirectional_probe/
/.infinite_pit_boundary_probe/
/.infinite_pit_ceiling_phase_probe/
/.infinite_pit_ceiling_sweep/
/.infinite_pit_panel_grid_probe/
/.infinite_pit_route_probe/
/.office_portal_bridge_ab/
/.portal_aperture_bridge_lab/
/.seamless_gateway_bot/
/.void_light_handoff_probe/
